
<mat-form-field id='node-description-textarea' class="node-property-textarea">
    <mat-label>{{'DESCRIPTION' | translate}}</mat-label>
    <textarea matInput placeholder="" [(ngModel)]="node.description"></textarea>
</mat-form-field>
<mat-form-field id='node-kind-textarea' class="node-property-textarea">
    <mat-label>{{'TYPE' | translate}}</mat-label>
    <textarea matInput placeholder="" [(ngModel)]="node.kind"></textarea>
</mat-form-field>
<!-- <mat-form-field id='node-text-textarea' class="node-property-textarea">
    <mat-label>{{'TEXT' | translate}}</mat-label>
    <textarea matInput placeholder="" [(ngModel)]="nodeToCreate.text"></textarea>
</mat-form-field> -->