.node-property-textarea {
    width: 100%;
}

.node-tree-sidenav-content {
  //border: 1px solid green;
  min-height: 70vh;
  background-color: white;
}

.node-card {
    margin: 1vw;
    display: flex;
    flex-direction: row;
    //border: 1px solid red;
}

.node-card-title {
    display: block;
    font-weight: bold;
    margin: 1vw;
}

.node-card-content {
    flex-grow: 4;
}

.node-tree-sidenav {
    width: 25vw;
    //border: 1px solid blue;
}

.node-icon {
  margin-left: 2vw;
  display: flex;
}

.red-icon {
  color: darkred;
}

/* from the guide */
.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  
  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }