<mat-toolbar>
    <span>Dump-Master Melito - {{'ADMIN_CONSOLE_TITLE' | translate}}</span>
    <span class="toolbar-spacer"></span>
    <mat-form-field>
      <mat-label>{{'LANGUAGE' | translate}}</mat-label>
      <mat-select value="{{translationService.currentLanguage.value}}" (valueChange)="changeLanguage($event)">
        @for (language of translationService.getAvailableLanguages(); track language) {
          <mat-option value="{{language}}">{{language}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
</mat-toolbar>
<section id='node-tree-content' class='main-content'>
    <mat-sidenav-container>
        <mat-sidenav-content class='node-tree-sidenav-content'>
            <mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor" class="example-tree">
                <mat-tree-node *matTreeNodeDef="let node">
                  {{node.description}}
                </mat-tree-node>
                <mat-nested-tree-node
                    *matTreeNodeDef="let node; when: hasChild"
                    matTreeNodeToggle [cdkTreeNodeTypeaheadLabel]="node.description">
                  <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'Toggle ' + node.id" *ngIf="hasChild(node) | async">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                    <mat-icon class='mat-mdc-icon-button' style="cursor: auto;" fontIcon="remove" *ngIf="!(hasChild(node) | async)"></mat-icon>
                    {{node.description}}
                    <div id='node-more-button' class='node-icon clickable-icon' (click)="setSelectedNode(node, $event); sidenav.open();">
                        <mat-icon aria-hidden="false" aria-label="More icon" fontIcon="open_in_new"></mat-icon>
                    </div>
                    <div id='node-add-button' class='node-icon clickable-icon' (click)='openCreationDialog(node, $event)'>
                        <mat-icon aria-hidden="false" aria-label="Add icon" fontIcon="add_circle"></mat-icon>
                    </div>
                    <div id='node-remove-button' class='node-icon red-icon clickable-icon' (click)='openDeletionDialog(node, $event)'>
                        <mat-icon aria-hidden="false" aria-label="Add icon" fontIcon="delete"></mat-icon>
                    </div>
                  </div>
                  <div [class.example-tree-invisible]="!tree.isExpanded(node)"
                      role="group">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </div>
                </mat-nested-tree-node>
              </mat-tree>
        </mat-sidenav-content>
        <mat-sidenav opened mode="side" position="end" #sidenav [(opened)]="opened" (opened)="events.push('open!')"
            (closed)="events.push('close!')" class='node-tree-sidenav'>
            <div style='margin: 1vw;'>
                <mat-card-content *ngIf="selectedNode">
                  <button mat-icon-button [attr.aria-label]="'Close sidebar'" (click)='sidenav.close()'>
                    <mat-icon class="mat-icon-rtl-mirror">
                      close
                    </mat-icon>
                  </button>
                    <!-- TODO: build a component for the node card -->
                    <label class='node-card-title'>{{'NODE' | translate}} {{selectedNode.id}}</label>
                    <mat-form-field id='node-description-textarea' class="node-property-textarea">
                        <mat-label>{{'DESCRIPTION' | translate}}</mat-label>
                        <textarea matInput placeholder="" [(ngModel)]="selectedNode!.description"></textarea>
                    </mat-form-field>
                    <mat-form-field id='node-kind-textarea' class="node-property-textarea">
                        <mat-label>{{'TYPE' | translate}}</mat-label>
                        <textarea matInput placeholder="" [(ngModel)]="selectedNode!.kind"></textarea>
                    </mat-form-field>
                    <!-- <mat-form-field id='node-text-textarea' class="node-property-textarea">
                        <mat-label>{{'TEXT' | translate}}</mat-label>
                        <textarea matInput placeholder="" [(ngModel)]="selectedNode!.text"></textarea>
                    </mat-form-field> -->
                    <button mat-fab extended (click)='updateNode(selectedNode!)' [disabled]='!hasBeenModified(selectedNode)'>
                      {{'UPDATE' | translate}}
                      <mat-icon *ngIf='updateInProgress'>sync</mat-icon>
                      <mat-icon *ngIf='updateCompleted'>check_circle</mat-icon>
                      <mat-icon *ngIf='updateFailed'>error</mat-icon>
                    </button>
                </mat-card-content>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</section>